.app-container {
	margin-top: 16px;
	text-align: center;
}

.input-section,
.developer-card {
	margin-top: 24px;
}

.input-section .MuiFormHelperText-root {
	max-width: 270px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.input-section .MuiInputBase-root {
	height: 55px;
}

.input-section .MuiButton-root {
	height: 55px;
	background-color: #671912;
}

.input-section .MuiButton-root:disabled,
.input-section .MuiButton-root:hover {
	background-color: #8d534d;
	color: #ffffff;
}

.dev-predict-result {
	margin-top: 16px;
	margin-bottom: 32px;
}

.appBar {
	height: 225px;
}

.loader-section {
	display: flex;
	justify-content: center;
}

.loader {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 150px;
}

.toolbar {
	display: flex;
	justify-content: center;
}

.card-predict-result {
	display: flex;
	justify-content: space-between;
}

.logo {
	height: 80%;
	margin-right: 10px;
}

.text {
	align-self: left;
}
